.app {
  margin: 10px;
}
#cards{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}
#butts{
    padding-top: 30px;
}
#buttss{

      text-align: center;
}

#buttsss{

        text-align: center;
}
h3,h2,h1,AwesomeButton{
text-align: center;
}
